In [13]:
import requests
import json
import pandas as pd
from datetime import datetime, timedelta

In [6]:
one_hour_later = datetime.now() - timedelta(hours=1)
start_time = one_hour_later.strftime("%Y-%m-%d %H:%M:%S")
end_time = datetime.now().strftime("%Y-%m-%d %H:%M:%S")

In [9]:
url = "http://bbathena.amyris.local/historian/api"

params = {"tag":"BB04632AIT003","start":start_time,"end":end_time, "samples":"1m"}

In [16]:
response = requests.get(url,params=params)

data = response.json()["DADOS"]
data = pd.DataFrame(data)

In [17]:
data.head()

             Timestamp       Value
0  2024-06-30 19:26:42  337.447083
1  2024-06-30 19:27:42  337.408100
2  2024-06-30 19:28:42  337.440369
3  2024-06-30 19:29:42  337.453461
4  2024-06-30 19:30:42  337.460968

In [19]:
data.tail()

              Timestamp       Value
56  2024-06-30 20:22:42  337.423100
57  2024-06-30 20:23:42  337.397064
58  2024-06-30 20:24:42  337.483826
59  2024-06-30 20:25:42  337.417236
60  2024-06-30 20:26:42  337.448700

In [21]:
data.Timestamp = pd.to_datetime(data.Timestamp)

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Timestamp  61 non-null     datetime64[ns]
 1   Value      61 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.1 KB